body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex; /* Que sea flexible de acuerdo a la pantalla*/
    justify-content: flex-end; /* Que sea vaya hasta el lado derecho*/
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /* Quitar los bullets*/
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer; /* Cambiar la flecha del cursor por una manita cuando te colocas sobre los enlaces*/
}

nav .nav-right-section a{
    margin-right: 25px;
    color: black;
}

nav .nav-right-section .menu-icon{
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png");
    width: 27px;
    height: 27px;
    background-size: contain; /* Contain para que se ajuste al tamaño del contenedor */
    background-position: center;
    background-repeat: none;
}

nav .nav-right-section img{
    border-radius: 80px;
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

main {
    margin-top: 30px;
    text-align: center;
}

main .main-logo{
    width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 320px;
    height: 110px;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    /*arriba, a lado abajo, a lado*/
    box-shadow: 0 1px 6px 0 #20212447;
}

/*Search icon*/
main .main-input .search-icon{
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*Micrófono*/

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 18px;
    height: 18px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .cam-icon{
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQU9EB56qp8B5qgt89OtkGpN86KFafBM7cBixk1nXOs7ukEVbJE);
    width: 18px;
    height: 18px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 6px;
    padding: 0 15px;
    margin-right: 12px;
}

main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 0.5px 1 px 0 #000001;
}

footer{
    width: 100%; /*Este estilo hará que el elemento se expanda para ocupar el 100% del ancho de su elemento contenedor.*/
    height: 50px;
    background-color: #f2f2f2;
    position: absolute; /*junto con bottom, hace que el footer se vaya hasta abajo*/
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /*que el footer se divida en 2 fracciones*/
    align-items: center; /*centrará verticalmente los elementos hijos dentro del contenedor de grid*/
    font-size: 15px;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
}